<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron Ilova</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <div class="main_wrapper">

    </div>
    <div class="bg-sound-controller">
        <label for="volumeControl" style="color: white;">🔊 Volume:</label>
        <input type="range" id="volumeControl" min="0" max="1" step="0.01" value="0.1">
    </div>
    <script src="../script/bg_animation.js"></script>
    <script src="../script/renderer.js"></script>
</body>

</html>