<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;">
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <div class="screen_controller">
        <div class="x_mark">
            <img src="../../assets/resources/images/screen_control/x_mark.png" alt="">
        </div>
        <div class="minus">
            <img src="../../assets/resources/images/screen_control/minus.png" alt="">
        </div>
        <div class="move_s">
            <img src="../../assets/resources/images/screen_control/move_screen.png" alt="">
        </div>
    </div>
    <div class="bg-sound-controller">
        <label for="volumeControl">🔊 Background Sound</label>
        <input type="range" id="volumeControl" min="0" max="1" step="0.1" value="0.1">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script type="module" src="../script/bg_animation.js"></script>
</body>

</html>