<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/indexImageGroup.css">
    <link rel="stylesheet" href="../styles/weather.css">
    <link rel="stylesheet" href="../styles/quote.css">
</head>

<body>
    <div class="screen_controller">
        <div class="x_mark">
            <img src="../../assets/resources/images/screen_control/x_mark.png" alt="">
        </div>
        <div class="minus">
            <img src="../../assets/resources/images/screen_control/minus.png" alt="">
        </div>
        <div class="move_s">
            <img src="../../assets/resources/images/screen_control/move_screen.png" alt="">
        </div>
    </div>
    <div class="wrapper">
        <div class="main_wrapper">
            <div class="left_side">
                <div class="account_info main_style">
                    <div class="account_image">
                        <img src="" id="profile_image" alt="">
                    </div>
                    <div class="account_info_text">
                        <span id="user_name">User name</span>
                    </div>
                    <div class="update_profile" id="updateProfileBtn" title="Update User Profile">
                        <img src="../../assets/resources/images/controller/gear.png" alt="">
                    </div>
                </div>
                <div class="bg-sound-controller main_style">
                    <p>Background Sound</p>
                    <div class="bg_btn_range">
                        <div class="sound_p_s_button">
                            <img src="../../assets/resources/images/controller/play.png" class="playSound" alt="">
                            <img src="../../assets/resources/images/controller/pause.png" class="pauseSound"
                                style="display: none;" alt="">
                        </div>
                        <div class="sound_range">
                            <div class="range_design">
                                <div class="line_range"></div>
                                <input type="range" id="volumeControl" min="0" max="1" step="0.01" value="0.1">
                            </div>
                            <div>
                                <span class="range_percent">
                                    10%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control_panel main_style">
                    <div class="setting_box main_style_white open_update_window">Images</div>
                    <div class="setting_box main_style_white createGroupsBtn openGroupsWindow">Image Groups</div>
                    <div class="setting_box main_style_white downloadFromBotBtn" style="font-size: 14px;">Download From
                        Bot</div>
                    <div class="setting_box main_style_white settingsBtn">Settings</div>
                </div>
            </div>
            <div class="right_side">
                <div class="main_block">
                    <div class="galary_box">
                        <div class="close_window open_update_window">
                            &times;
                        </div>
                        <div class="image_control_btn_wrapper">
                            <div class="create_new_btn reloadBtn">
                                Reload
                            </div>
                            <div class="create_new_btn create_new_group_btn">
                                Create new Group
                            </div>
                            <div class="create_new_btn createImageBtn">
                                Create New Image
                            </div>
                        </div>
                        <div class="image_box_wrapper">
                        </div>
                    </div>
                    <div class="allGroupWindow">
                        <div class="close_window openGroupsWindow">
                            &times;
                        </div>
                        <div class="groupWindowWrapper">
                            <div class="hasImage">
                                <div class="xWrapper">
                                </div>
                            </div>
                            <div class="noImage">
                            </div>
                        </div>
                    </div>
                    <div class="double_info_block">
                        <div class="wallpaper_inducator main_style">
                            <div class="current_image">
                                <img src="" id="current_wallpaper" alt="">
                            </div>
                            <div class="previous_image_wrapper">
                                <div class="previous_text main_style_white">
                                    <p>Previous</p>
                                </div>
                                <div class="previous_image">
                                    <img src="" id="previous_wallpaper" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="weather_information main_style">
                            <div class="currentWeather">
                                <div class="temperature">
                                    <div class="mainWeatherIcon">
                                        <img class="mainImageWeather" src="" alt="">
                                    </div>
                                    <div>
                                        <h1 class="mainTemprature">+20°</h1>
                                        <p class="sencondTemprature">+10°</p>
                                    </div>
                                </div>
                            </div>
                            <div class="sunTime">
                                <div class="sunrise">
                                    <div class="sunriseIcon">
                                        <img src="../../assets/resources/images/controller/sun.png" alt="">
                                    </div>
                                    <div class="sunTimeContext">
                                        <h4>Sunrise</h1>
                                            <p class="sunriseTime">12:00 AM</p>
                                    </div>
                                </div>
                                <div class="sunset">
                                    <div class="sunsetIcon">
                                        <img src="../../assets/resources/images/controller/moon.png" alt="">
                                    </div>
                                    <div class="sunTimeContext">
                                        <h4>sunset</h1>
                                            <p class="sunsetTime">12:00 AM</p>
                                    </div>
                                    <div class="weatherReloadBtn">
                                        <img src="../../assets/resources/images/controller/reload.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quoteLoadingnimation">
                        <div class="quoteAnimationBox">
                            <img src="../../assets/resources/images/controller/loading.gif" alt="">
                        </div>
                    </div>
                    <div class="quote main_style">
                        <div class="quoteTitle">
                            <h3>Quote</h3>
                        </div>
                        <div class="quoteBody">
                            <p class="quoteText">
                                The greatest glory in living lies not in never falling, but in rising every time we fall.
                            </p>
                        </div>
                        <div class="quotAuthor">
                            <p class="authorName">
                                Unknown
                            </p>
                        </div>
                        <div class="quoteReloadBtn">
                            <img src="../../assets/resources/images/controller/reload.png" alt="">
                        </div>
                    </div>
                    <div class="reloadAnimation" style="display: none;">
                        <div class="animationBox">
                            <img src="../../assets/resources/images/controller/loading.gif" alt="">
                        </div>
                    </div>
                </div>
                <div class="bottom_block">
                    <div class="double_bottom_button ">
                        <div class="change_group main_style"></div>
                        <div class="current_group main_style"></div>
                    </div>
                    <div class="last_saved_block main_style">
                        <h4>Last saved</h4>
                        <div class="last_saved_image">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="group_inducator main_style"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../script/bg_animation.js"></script>
    <script src="../script/utils.js"></script>
    <script type="module" src="../script/indexRender.js"></script>
    <script type="module" src="../script/modules/getData/userProfile.js"></script>
    <script type="module" src="../script/modules/getData/wallpaperImages.js"></script>
    <script type="module" src="../script/modules/getData/imageGroup.js"></script>
    <script type="module" src="../script/modules/getData/appIncomingData.js"></script>
</body>

</html>